* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav {
    height: auto;
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 18px 0;
}

#nav h4 {
    font-weight: 400;
    font-family: helvetica;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

#center h1 {
    color: #fff;
    font-size: 50px;
}

#center h2 {
    color: #fff;
    font-weight: 2;
    font-size:xx-large;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#links button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
}